
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background-color: rgba(14, 23, 12, 0.57);
}

.title {
  text-align: center;
  font-size: 60px;
}

.addForm {
  margin: 2em;
  padding: 2em;
  background-color:rgba(62, 190, 124, 0.508);
  text-decoration: underline;
}

input {
  margin: 0.5em;
}

.edit {
  font-size: 20px;
  margin: 2em;
  color: aliceblue;
}

.delete {
  align-self: center;
  margin: 0 0 3em 3em;
}



.cars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: inline-block;
  background-color: rgba(149, 6, 6, 0.131);
  border: 2px solid green;
  margin: 2em 8em;
}


.header {
  display: flex;
  justify-content: space-around;
}

.make {
  font-family: 'Orbitron', sans-serif;
  font-size: 70px;
  text-decoration: underline;
  color: rgba(56, 58, 53, 0.81);
  margin: 50px 0 10px 0;
}

.model {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  margin: auto 5px;
  color: rgb(244, 233, 233);
  
}

.image {
  width:55%;
  height: 30em;
}

.year {
  font-size: 20px;
  color: aliceblue;
}

.price {
  font-size: 20px;
  color:aliceblue
}

