.add{
  background-color: aqua;
  /* display: none; */

}




.cars {
  display: flex;
  grid-template-rows: max-content 200px 1fr;
  flex-direction: row;
  border: 2px solid black;
  width: 50%;
 
}

.image{
  width: 80%;
}

.container {
  
  background-color: aqua;
}

.title {
  text-align: center;
  border: 1px solid black;
  
}

.year {
  text-decoration: underline;
}





